@font-face {
	font-family: "dana";
	font-display: swap;
	font-weight: 400;
	src: url(../fonts/dana/dana-fanum-regular.woff2) format("woff2");
}

@font-face {
	font-family: "dana-bold";
	font-display: swap;
	font-weight: 800;
	src: url(../fonts/dana/dana-fanum-bold.woff2) format("woff2");
}
